html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
}

a {
  margin: 8px 8px;
  padding: 8px 16px;
  border: 1px solid #007aff;
  background-color: #007aff;
  color: white;
  text-decoration: none;
  transition: all 100ms ease-out;
}

a:hover {
  background-color: white;
  color: #007aff;
}

a:active {
  background-color: #f8f8f8;
  color: #007aff;
}
